/* Deafaut body colors */
* {
}
body {
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #0d100d;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
}
*::selection {
  background-color: #fec81a;
}
ul {
  list-style: none;
}
a {
  list-style: none;
}
/* ============================ header ====================== */
header {
  position: fixed;
  top: 0;
  left: -120%;
  z-index: 4;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.toggle {
  left: 0%;
  transition: left 0.9s;
}
nav {
  height: auto;
  background-color: #1a1a1a;
  z-index: 8;
}
.user img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
}
/* ============================ Custom Btn ====================== */
.btn-default-color {
  background-color: #202320;
  color: white;
  border-radius: 3.125rem;
}
.btn-second-color {
  background-color: #202320;
  color: #fff;
  border-radius: 3.125rem;
  height: 3.125rem;
}
.btn-submit{
    background-color:#fec81a;
    color:black;
    border-radius: 3.125rem; 
}
.btn-second-color:hover,
.btn-default-color:hover {
  background-color: #fec81a;
  color: #000;
  transform: scale(1.3);
  transition: transform 1s;
}
#burgerIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  font-size: 2.5rem;
}
/* ============================ Goblal contain of page====================== */
.globalContainer {
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 2;
}
.yellow-color {
  color: #fec81a;
}
.icone-graduation {
  width: 77px;
  height: 77px;
}
.icone-graduation img {
  width: 100%;
  height: auto;
}
/* ============================ Style of cursus an experience====================== */
.carte {
  border-left: 2px white solid;
  position: relative;
}
.carte i {
  position: absolute;
  top: 0rem;
  left: -1.6rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  text-align: center;
  font-size: 1.8rem;
  color: white;
  background-color: #fec81a;
}

.underlied-text {
  opacity: 1;
  border: 1px white solid !important;
}
.text-justify {
  text-align: justify;
}
li {
  list-style: none;
}
/* ============================ Style svg elements====================== */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box svg circle {
  fill: transparent;
  stroke: #fec81a;
  stroke-width: 10;
  stroke-dasharray: 500;
  stroke-dashoffset: 200;
  stroke-linecap: round;
  animation: stroke 13.5s steps(500) forwards;
}
@keyframes stroke{
    10%{
        stroke-dashoffset: calc(500-(500*8)/100); 
    }
}
/* ============================ Style Quality section====================== */
.qualite i {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    background-color: #fec81a;
  }

/* ============================ Style Hobbies section====================== */
.hobbies i {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    background-color: #fec81a;
  }
  .hobby{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
  }
  /* ============================ Style Contact section====================== */
  .contact-form input{
      background-color: #202320;
      color: #524F4F;
      height:3rem;
      border-radius: 3.125rem;
      border: none;
  }
  .contact-form textarea{
      background-color: #202320;
      color: #524F4F;
      border-radius: 1.4375rem;
      border: none;
  }
  .to-top{
      width: 5rem;
      height: 5rem;
      position: absolute;
      top: 20rem;
      right: 1.25rem;
  }